<%@accounts.each do |account|%>
	<%=render 'editmodal', account: account%>
<%end%>

<head>
	<%= csrf_meta_tag %>
	<script src="../assets/tableSort.js"></script>

	<script type="text/javascript">
		  $('.selectpicker').selectpicker({
		    size: 4
		  });
		  
		  //The below is temp, delete it whenever. It helps to hide the fluff/charts
		$( "#hidestuff" ).click(function() {
			$( ".tempMark" ).toggle();
		});
	</script>




    <title>Synoptics - Chart of Accounts</title>

</head>
<body>
						  
	<div class="panel2-header">
		<button type="button" class="btn btn-default btn-sm" data-toggle="modal" href="#newacc">Add Account</button>									
		<button type="button" class="btn btn-default btn-sm" data-toggle="modal" href="#newacc">Make Adjustment</button>
		<div class="btn-group">
			<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Download 
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">Download PDF</a></li>
				<li><a href="#">Download Excel</a></li>
				<li><a href="#">Download CSV</a></li>
				<li class="divider"></li>
				<li><a href="#">Information</a></li>
			</ul>
		</div>	
		<button id="hidestuff" type="button" class="btn btn-default btn-sm">Hide extra</button>				  			  
	</div>
		
						  

<div class="panel2Content">
            <form style="width:250px; float:right;" class="pull-right;" action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </form>

	<!--<p>Filter: </p>-->
	<style>
		.selected {
			border:0px;
			border-style: none;
			border-shadow:0px;
		}
	</style>
    <select id="id_select" class="selectpicker">
        <option>All</option>
        <option data-subtext="1000-1999">Assets</option>
        <option data-subtext="2000-2999">Liabilities</option>
        <option data-subtext="3000-3999">Stock Holder Equity</option>
    </select>  

	<span style="margin-bottom:5px; background-color:white;" class="glyphicon glyphicon-arrow-right"></span>							


    <select id="id_select" class="selectpicker">
        <option>All</option>
        <option>Cash</option>
        <option>Stock</option>
        <option>Short term Investments</option>
    </select>
	<br />
	
	<!--This chart is generated-->
	<% @accounts.each do |account| %>
		<script>
			$( "#<%= account.acc_type %>" ).append('<tr value="<%= account.number %>" data-toggle="modal" href="#editmodal<%=account.id%>"><td><%= account.number %></td><td><%= account.name %></td><td><%= account.acc_class %></td><td>$</td></tr>');
		</script>
	<% end %>
	
	
	<!--Assets table-->
	<table class="table table-list-search">
		<thead>
			<tr><h3 style="text-align:center;">Assets</h3></tr>
			<tr>
				<th>Account #</th>
				<th>Name</th>
				<th>Type</th>
				<th>Balance</th>
			</tr>
		</thead>
		<tbody id="Asset">
			<!--This content will be generated-->
		</tbody>
	</table>
	
	
	<!--Liabilities table-->
	<table class="table table-list-search">
		<thead>
			<tr><h3 style="text-align:center;">Liabilities</h3></tr>
			<tr>
				<th>Account #</th>
				<th>Name</th>
				<th>Type</th>
				<th>Balance</th>
			</tr>
		</thead>
		<tbody id="Liability">
			<!--This content will be generated-->
		</tbody>
	</table>
	
	
	<!--SHE table-->
	<table class="table table-list-search">
		<thead>
			<tr><h3 style="text-align:center;">Stockholders' Equity</h3></tr>
			<tr>
				<th>Account #</th>
				<th>Name</th>
				<th>Type</th>
				<th>Balance</th>
			</tr>
		</thead>
		<tbody id="SHE">
			<!--This content will be generated-->
		</tbody>
	</table>	
	<!--End of generated chart-->

</div><!--End panel2 content-->



<style>
	tr:hover{
		background-color: #34c6cd;
	}
</style>




<!-----------Modals------------->
<!--Edit Account modal is linked as a partial (see top of screen)-->
<!--The below should also be loaded as a partial-->
<div class="modal fade" id="newacc">
	<div class="modal-dialog">
		<div class="modal-content">
			<%= form_for @account do |f| %>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">New Account</h4>
			</div>
			<div class="modal-body">
		
				<p><b>Account Name</b></p>
				<%= f.text_field :name, :class => 'form-control', :placeholder => "Ex: Petty Cash" %>
				<br />
				<p><b>Account number</b></p>
				<%= f.text_field :number, :class => 'form-control', :placeholder => "Ex: 1010" %>
				<br />
				<p><b>Account type</b></p>
				<div class="btn-group btn-group-justified" data-toggle="buttons">
				    <label class="btn btn-primary active">
				        <%= f.radio_button :acc_type, "Asset", :checked => true %> Asset
				    </label>
				    <label class="btn btn-primary">
				        <%= f.radio_button :acc_type, "Liability" %> Liability
				    </label>
				    <label class="btn btn-primary">
				        <%= f.radio_button :acc_type, "SHE" %> Stockholder Equity
				    </label>
				</div>
				<br />		
				<p><b>Account Class</b></p>
				<%= f.text_field :acc_class, :class => 'form-control', :placeholder => "Ex: Current Assets" %>
				<br />
				<p><b>Account Description</b></p>
				<%= f.text_area :description, :class => 'form-control', :placeholder => "Ex: The money outside of our safe for small purchases" %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<%= f.submit 'Create Account', :class => 'btn btn-primary' %>
			</div>
			<% end %>
		</div>
	</div>
</div>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>








<div style="display: none;"><!--I'm leaving this in here for later reference-->
<br /><br /><br />
<% @accounts.each do |account| %>
	<p>
		<%= account.number %><br />
		<%= account.name %><br />
		<%= account.description %><br />
		<%= account.acc_type %><br />
		<%= account.acc_class %><br />
		<%= account.balance %><br />
		
		<%= link_to 'Edit', edit_account_path(account) %><br />
		<%#= link_to 'Delete', '/accounts/:account', method: :delete %>
		<%#= link_to 'Delete Account', account, method: :destroy %>
		<%=link_to 'Delete Account', account_path(account), method: :delete %>

	</p>
<% end %>
</div>



</head>
<body>













