<h2>Edit</h2>
<%= form_for @account do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %><br />

	<%= f.label :description %>
	<%= f.text_field :description %><br />
	
	<%= f.label :number %>	
	<%= f.text_field :number %><br />

	<%= f.label :acc_type %>	
	<%= f.text_field :acc_type %><br />
	
	<%= f.label :acc_class %>	
	<%= f.text_field :acc_class %><br />

	<%= f.submit 'Save new account' %>	

<% end %>